*{  
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}


header{
    background-color:  black;
    width: 100%;
    height: 58px;
    text-align: center;
    z-index: 999;
    margin-top: 5px;;
}


header a:hover{
    transform: scale(1.1);
}

footer{
    background-color: black;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    height: 100px;
    
}
footer h4{
    text-align: right;
    margin: 10px;
    bottom: 1;
    float: none;
}
footer a{
    
    text-decoration: none;
    color: white;
    margin: 10px;
    margin-left: 20px;  
    float: none;  
    
}
.left-float{
    float: left;
    display: flex;
}
.left-float img{
    margin: 0px 0px 0px 20px;
    width: 55px;
    height: 55px;
}
.left-float h3{
    font-style: italic;
    font-size: 2.7em;
    color: white;
    margin: 2px 0px 0px 20px;
}
.left-float img:hover{
    transform: scale(1.2);
}
.right-float{
    float: right;
    display: flex;
}
/* .right-float img, input[type="text"]{

} */
.right-float input[type="text"]{

    margin: 10px 30px 10px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3em;
}
.right-float img:hover{
    transform: scale(1.2);
}
main{
    height: 700px;
    margin: 10px;
}
