*{  
    margin: 0;
    padding: 0px;
    box-sizing: border-box;  
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

th{
    text-align: center;
    padding: 8px;
    border-bottom: 2px solid #ddd;
}

td{
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid #ddd;
    text-align: center;
}

th{text-align: center;}
tr:nth-child(even){
    background-color: #f2f2f2;
}

.table-database button{
    padding: 8px;
    border-radius: 5px;
}