
<footer>
    <span><a href="">About</a></span>
    <span><a href="">Contacts</a></span>
    <span><a href="">Services</a></span>
    <span><a href="">Language</a></span>
    <br>
    <br>
    <br>
    <h4>&copy;PANGAN JAN NEIL</h4>
</footer>
</body>
</html>